/*
 TITLE: branchingOut.css
 AUTHOR: Ehtsham Nisar (EN)
 PURPOSE: Style the branchingOut.html page
 ORIGINALLY CREATED ON: 26 September 2018
 LAST MODIFIED BY: Ehtsham Nisar
 MODIFICATION HISTORY:
 26 September 2018: Style branchingOut.html (EN)
 */

.bg {
    /* The image used */
    background-image: url("../image/compass.png");
    
    /* Full height */
    padding-top: 5%;
    
    background-repeat: no-repeat;
    background-size:1200px 650px;

    
}

/* body style text */
body {
    
    font-family: helvetica, arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    }

/* content for javascript in a box */
#content{
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 2px 15px #EEE;
    min-height: 100px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin-top:10%;
}

header{
    font-size:30px;
    font-weight: bold;
}









