 /*
 TITLE: moverShakers.css
 AUTHOR: Ehtsham Nisar (EN)
 PURPOSE: Style the moverShakers.html page
 ORIGINALLY CREATED ON: 14 November 2018
 LAST MODIFIED BY: Ehtsham Nisar
 MODIFICATION HISTORY:
 14 November 2018: Style moverShakers.html (EN)
 */


#first_form{

    width:200px;
    float:left;
    text-align: center;
  
}

#second_form{

    width:200px;
    float:right;
    text-align: center;

  
}

legend{
    color:white;
}

/* body style text */
body {
    font-family: helvetica, arial, sans-serif;
    font-size: 100%;
    
     background-color: black;
    }

/* content for javascript in a box */
#content{
    
    
    box-shadow: 0 2px 15px black;
    min-height: 500px;
    max-height: 600px;
    padding: 1px;
    border-radius: 10px;
    background-color: black;
      max-width: 600px;
  margin: 0 auto;
   
}





#target{
    padding:250px;

}






