
/*
 Name: Ehtsham Nisar
 Date: 03/02/2018
 
 */

body{
    background-color: tan;
}

/*Requirement 8: Style the <div> that encapsulates everything in the <body>. */
div {
    
    font-size: small;
    background-color:#e7e7e7;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 1.6em;      /* deals with the line spacing*/
    box-shadow: 10px 10px 5px #888888;
    border-radius: 15px; /* round borders*/
}

/*Requirement 1: Create five unique classes that will be used to style at least ten page elements. Each class should be used in at least two page elements. */

p.first {
    color: black;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    background-color: #d3d3d3;
    padding: 25px;
    margin: 30px;
} /* Used in the top 2 p elements*/

p.second {
    color: black;
    border-color: #778899;
    border-width: 3px;
    border-style: dotted;
    
    color: black;
    background-color: #d3d3d3;
    margin: 30px;
    margin-right: 730px;
}/*Used in goat heading and html image attributes*/

p.third{
    color: black;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin:80px;
    margin-left:250px;
    margin-right:300px;
    padding-top:5px;
    padding-left: 60px;
    background-color:tan;
} /* Used in the picture and the link p attribute*/


p.fourth {
    color: white;
    background-color: #007f00;
    
} /* Used in the mimic ocopus and Button*/

p.fifth {
    color: black;
    font-weight: bold;
    font-size: 13px;
    border-radius: 15px;
    border-color:white;
    border-width: 1px;
    border-style: solid;
    background-color: peachpuff;
    
}/* Used in footer p and another p element*/



/*Requirement 5: Style the <header> element. */
header {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    border-radius: 44px;
}

/*Requirement 6: Style the <footer> element. */
footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    border-radius: 44px;
}



/*Requirement 7: Style the <button> element. It could change colors or glow when clicked. */
button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:250px;
    cursor: pointer;
    
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    
    
    border: whitesmoke;
    border-width: 3px;
    border-style: solid;
}



/*Requirement 4: Style all <a> tags using pseudo-classes for normal, hover, and visited states. */
a{
    border-radius: 15px;
    border-color:white;
    border-width: 3px;
    border-style: solid;
    background-color: whitesmoke;
}

/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: #32cd32;
}

/* selected link */
a:active {
    color: blue;
}


/*Requirement 10: Style the <ol> and its <li> elements. */
ol {
    list-style-type: decimal;
    color: black;
    background-color: black;
    padding-left:40px;
    margin: 30px;
}
ol li {
    color: white;
}


/*Requirement 9: Style the <ul> and its <li> elements. */
ul {
    list-style-type: disc;
    color: black;
    background-color: #d3d3d3;
    padding-left:30px;
    margin: 30px;
    margin-right:450px;
    margin-left: 300px;
}
ul li {
    color: white;
    
}



/*Requirement 11: Style the <table> and its <th> and <td> elements. If you're new to tables, pages 603 & 604 of the text will show you a quick view of a simple one. */

table {
    border: 1px solid black;
    border-color: whitesmoke;
}

th{
    border: 1px solid black;
    border-color: whitesmoke;
}

td{
    border: 1px solid black;
    border-color: whitesmoke;
}


/*Requirement 2: Create three unique ids. Each id can be used in exactly one page element. */

#thetable{
    color: black;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

#thetr{
    color: black;
    background-color:#cccccc;
}

#tdfirst{
    background-color:#add8e6;
}

#tdsecond{
    background-color:green;
}
#tdthird{
    background-color:purple;
}
#tdfourth{
    background-color:tan;
}
#tdfifth{
    background-color:peachpuff;
}
#tdsixth{
    background-color:teal;
}

/*Requirement 3: Style each heading element (<h1> - <h6>). */

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    
    color: black;
    border-radius: 15px;
    border-color:white;
    border-width: 2px;
    border-style: solid;
    background-color: peachpuff;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    
    color: purple;
    border-radius: 15px;
    border-color:white;
    border-width: 1px;
    border-style: solid;
    background-color: #add8e6;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    
    color: teal;
    border-radius: 15px;
    border-color:#add8e6;
    border-width: 1px;
    border-style: solid;
    background-color: #c0c0c0;
}

h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    
    color: #adf8eb;
    border-radius: 15px;
    border-color:#add8e6;
    border-width: 1px;
    border-style: solid;
    background-color:  #a9a9a9;
}

h5{
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    
    color: green;
    border-radius: 15px;
    border-color:#add8e6;
    border-width: 1px;
    border-style: solid;
    background-color: whitesmoke;
}


h6{
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    
    color: orange;
    border-radius: 15px;
    border-color:#add8e6;
    border-width: 1px;
    border-style: solid;
    background-color: black;
    
}



















